.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-size: 1.4rem;
}

.linkContainer a:hover {
    background-color: blanchedalmond;
}